body {
    background-color: #002E5D; /* BYU navy */
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

.header {
    background-color: #0057B8; /* lighter BYU blue */
    text-align: center;
    padding: 20px;
}

.nav {
    text-align: center;
    margin: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 20px;
}

img {
    margin-top: 10px;
    border-radius: 8px;
}

.footer {
    text-align: center;
    margin: 20px;
}